#u138-4
{
	font-family: alfa-slab-one-n4, serif;
}

#u160-4
{
	font-family: alfa-slab-one-n4, serif;
}

#u167-4
{
	font-family: alfa-slab-one-n4, serif;
}

#u227-4
{
	font-family: alfa-slab-one-n4, serif;
}

#u234-4
{
	font-family: alfa-slab-one-n4, serif;
}

#u240-4
{
	font-family: alfa-slab-one-n4, serif;
}

#u637-4
{
	font-family: bigshot-one-n4, serif;
}

#u329-16
{
	font-family: open-sans-n4, sans-serif;
}

#u1034-9,#u331-4,#u944-4,#u1036-4,#u338-5,#u429-6,#u576-10,#u413-5,#u588-4
{
	font-family: bigshot-one-n4, serif;
}

#u277-4,#u1035-5,#u339-4,#u414-4,#u587-4,#u796-4
{
	font-family: alfa-slab-one-n4, serif;
}

#u945-12,#u954-11,#u1090-12,#u1109-11,#u1099-11,#u1094-9
{
	font-family: hammersmith-one-n4, sans-serif;
}

