.version.index /* version checker */
{
	color: #0000E8;
	background-color: #565888;
}

.html
{
	background: #FFFFFF url("../images/texture.jpg") repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 760px;
	min-height: 597px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -54px;
	margin-bottom: -44px;
}

#pu295
{
	width: 0.01px;
	margin-left: -100px;
}

#u295
{
	z-index: 2;
	width: 726px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 100px;
	padding: 657px 17px 26px;
	background: #FFFFFF url("../images/texture%202.jpg") repeat left top;
}

#u277-4
{
	z-index: 62;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 36px;
	color: #FE5C51;
	line-height: 43px;
	letter-spacing: 5px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	margin-left: 3px;
	position: relative;
}

#u260
{
	z-index: 60;
	width: 720px;
	min-height: 400px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-top: 59px;
	position: relative;
}

#u1035-5
{
	z-index: 302;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 36px;
	color: #66CCFF;
	line-height: 43px;
	letter-spacing: 5px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	margin-left: 3px;
	margin-top: 19px;
	position: relative;
}

#u1032
{
	z-index: 292;
	width: 350px;
	min-height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 188px;
	margin-top: 52px;
	position: relative;
}

#u1034-9
{
	z-index: 293;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 30px;
	color: #C69C6D;
	line-height: 36px;
	letter-spacing: 4px;
	text-align: center;
	font-family: bigshot-one, serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 4px;
	margin-top: 10px;
	position: relative;
}

#u1034-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1034,#u1034-3
{
	letter-spacing: 1px;
	line-height: 36px;
}

#u1034-2,#u1034-4
{
	font-size: 25px;
	letter-spacing: 1px;
	line-height: 30px;
}

#u1034-5
{
	line-height: 36px;
}

#u1034-6
{
	color: #A0C3CC;
	line-height: 36px;
}

#u87
{
	z-index: 7;
	width: 760px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 311px;
	left: 100px;
}

#u88
{
	z-index: 8;
	width: 760px;
	height: 38px;
	margin-right: -10000px;
	margin-top: 273px;
	left: 100px;
}

#u81
{
	z-index: 9;
	width: 500px;
	margin-right: -10000px;
	left: 230px;
}

#menuu131
{
	z-index: 11;
	width: 720px;
	margin-right: -10000px;
	margin-top: 492px;
	left: 120px;
}

#u132
{
	width: 118px;
	min-height: 34px;
	margin-right: -10000px;
}

#u135
{
	width: 118px;
	padding-bottom: 12px;
}

#u135:hover
{
	margin: 0px;
}

#u138-4
{
	width: 118px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u135:hover #u138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u156
{
	width: 118px;
	min-height: 34px;
	margin-right: -10000px;
	left: 120px;
}

#u159
{
	width: 118px;
	padding-bottom: 12px;
}

#u160-4
{
	width: 118px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u135.MuseMenuActive #u138-4,#u159:hover #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u163
{
	width: 118px;
	min-height: 34px;
	margin-right: -10000px;
	left: 240px;
}

#u164
{
	width: 118px;
	padding-bottom: 12px;
}

#u167-4
{
	width: 118px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u159.MuseMenuActive #u160-4,#u164:hover #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u224
{
	width: 118px;
	min-height: 34px;
	margin-right: -10000px;
	left: 360px;
}

#u225
{
	width: 118px;
	padding-bottom: 12px;
}

#u227-4
{
	width: 118px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u164.MuseMenuActive #u167-4,#u225:hover #u227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u231
{
	width: 119px;
	min-height: 34px;
	margin-right: -10000px;
	left: 480px;
}

#u232
{
	width: 119px;
	padding-bottom: 12px;
}

#u234-4
{
	width: 119px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u225.MuseMenuActive #u227-4,#u232:hover #u234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u238
{
	width: 119px;
	min-height: 34px;
	margin-right: -10000px;
	left: 601px;
}

#u239
{
	width: 119px;
	padding-bottom: 12px;
}

#u135.MuseMenuActive,#u159.MuseMenuActive,#u164.MuseMenuActive,#u225.MuseMenuActive,#u232.MuseMenuActive,#u239.MuseMenuActive
{
	margin: 0px;
}

#u240-4
{
	width: 119px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u232.MuseMenuActive #u234-4,#u239:hover #u240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u239.MuseMenuActive #u240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u246
{
	z-index: 48;
	width: 178px;
	margin-right: -10000px;
	margin-top: 404px;
	left: 120px;
}

#u251
{
	z-index: 50;
	width: 178px;
	margin-right: -10000px;
	margin-top: 404px;
	left: 662px;
}

#u254
{
	z-index: 52;
	width: 233px;
	height: 32px;
	margin-right: -10000px;
	margin-top: 439px;
	left: 120px;
}

#u255
{
	z-index: 53;
	width: 233px;
	height: 32px;
	margin-right: -10000px;
	margin-top: 439px;
	left: 607px;
}

#u331-4
{
	z-index: 83;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 60px;
	color: #000000;
	line-height: 72px;
	letter-spacing: 11px;
	text-align: center;
	font-family: bigshot-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1027px;
	left: 120px;
}

#u332
{
	z-index: 87;
	width: 178px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 1027px;
	left: 601px;
}

#u335
{
	z-index: 89;
	width: 178px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 1027px;
	left: 178px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 18px;
}

#pu1012
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 354px;
	margin-left: 56px;
}

#u1012
{
	z-index: 280;
	width: 32px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
}

#u1012:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u1015
{
	z-index: 282;
	width: 32px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin-top: 14px;
	position: relative;
}

#u1018
{
	z-index: 284;
	width: 32px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin-top: 14px;
	position: relative;
}

#u1021
{
	z-index: 286;
	width: 32px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin-top: 14px;
	position: relative;
}

#u1024
{
	z-index: 288;
	width: 32px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin-top: 14px;
	position: relative;
}

#u1027
{
	z-index: 290;
	width: 32px;
	background-color: transparent;
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	margin-top: 14px;
	position: relative;
}

#u1015:hover,#u1018:hover,#u1021:hover,#u1024:hover,#u1027:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 14px 0px 0px;
}

#pu673
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 418px;
	margin-left: 860px;
}

#u673
{
	z-index: 193;
	width: 37px;
	height: 12px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/texture%202.jpg") no-repeat left top;
}

#u674
{
	z-index: 194;
	width: 37px;
	height: 12px;
	border-color: #000000;
	margin-top: 462px;
	position: relative;
	background: #FFFFFF url("../images/texture%202.jpg") no-repeat left top;
}

#pu668
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 354px;
	margin-left: 897px;
}

#u668
{
	z-index: 192;
	width: 201px;
	border-color: #000000;
	background-color: #66CCFF;
	-moz-border-radius: 20px 20px 0px 0px ;
	-webkit-border-radius: 20px 20px 0px 0px ;
	-khtml-border-radius: 20px 20px 0px 0px ;
	border-radius: 20px 20px 0px 0px ;
	padding-bottom: 7px;
	position: relative;
}

#u705
{
	z-index: 197;
	width: 104px;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 48px;
}

#u666
{
	z-index: 191;
	width: 201px;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/texture%202.jpg") repeat left top;
}

#u666_position_content
{
	margin-bottom: -6px;
	padding-top: 8px;
}

#u944-4
{
	z-index: 251;
	width: 147px;
	min-height: 19px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: bigshot-one, serif;
	font-weight: 400;
	margin-left: 30px;
	position: relative;
}

#u945-12
{
	z-index: 255;
	width: 191px;
	min-height: 55px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	letter-spacing: -1px;
	color: #FE5C51;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 7px;
	position: relative;
}

#u945-2,#u945-4,#u945-6,#u945-8,#u945-10
{
	padding-bottom: 4px;
}

#u931
{
	z-index: 247;
	width: 100px;
	background-color: transparent;
	margin-left: 48px;
	margin-top: 10px;
	position: relative;
}

#u695
{
	z-index: 195;
	width: 180px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 9px;
	position: relative;
}

#u937
{
	z-index: 249;
	width: 100px;
	background-color: transparent;
	margin-left: 48px;
	margin-top: 6px;
	position: relative;
}

#u697
{
	z-index: 196;
	width: 200px;
	min-height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 4px;
	position: relative;
}

#u943
{
	z-index: 203;
	width: 201px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u667
{
	z-index: 204;
	width: 201px;
	border-color: #000000;
	background-color: #FE5C51;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u708
{
	z-index: 205;
	width: 104px;
	background-color: transparent;
	opacity: 0.19;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=19)";
	filter: alpha(opacity=19);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 48px;
}

#slideshowu855
{
	z-index: 214;
	width: 0.01px;
	height: 442px;
	position: relative;
	margin-right: -10000px;
	margin-top: 543px;
	left: 120px;
}

#u868
{
	position: absolute;
	width: 720px;
	height: 400px;
	background-color: transparent;
}

#u868popup
{
	z-index: 215;
}

#u1121
{
	z-index: 216;
	width: 720px;
	height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u913
{
	z-index: 218;
	width: 720px;
	height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u922
{
	z-index: 220;
	width: 720px;
	height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1121:hover,#u913:hover,#u922:hover
{
	opacity: 0.84;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=84)";
	filter: alpha(opacity=84);
	margin: 0px -10000px 0px 0px;
}

#u875
{
	position: absolute;
	width: 591px;
	background-color: transparent;
	top: 402px;
	left: 1px;
}

#u875popup
{
	z-index: 222;
}

#u1128-4
{
	z-index: 223;
	width: 571px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u919-4
{
	z-index: 227;
	width: 571px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u928-4
{
	z-index: 231;
	width: 571px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1128-4:hover,#u919-4:hover,#u928-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1128-4:hover p,#u919-4:hover p,#u928-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u879-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 400px;
	left: 622px;
}

#u879-4popup
{
	z-index: 235;
}

#u880-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 400px;
	left: 592px;
}

#u880-4popup
{
	z-index: 239;
}

#u879,#u880
{
	color: #999999;
}

#u865-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 400px;
	left: 690px;
}

#u865-4popup
{
	z-index: 243;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1036-4
{
	z-index: 307;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 60px;
	color: #000000;
	line-height: 72px;
	letter-spacing: 2px;
	text-align: center;
	font-family: bigshot-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1553px;
	left: 120px;
}

#u1043
{
	z-index: 311;
	width: 32px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 2088px;
	left: 714px;
}

#u1043:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 2088px -10000px 0px 0px;
}

#u1048
{
	z-index: 313;
	width: 233px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1550px;
	left: 120px;
	border-width: 0px 0px 2px;
}

#u1050
{
	z-index: 315;
	width: 233px;
	height: 32px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
	border-width: 0px 0px 1px;
}

#u1049
{
	z-index: 314;
	width: 233px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1550px;
	left: 607px;
	border-width: 0px 0px 2px;
}

#u1051
{
	z-index: 316;
	width: 233px;
	height: 32px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
	border-width: 0px 0px 1px;
}

#music
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1511px;
	left: 100px;
}

#about
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u355
{
	z-index: 59;
	width: 720px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	padding: 58px 20px 100.29999999999882px;
	background: #FFFFFF url("../images/kingsize-studio-blur2.jpg") no-repeat center top;
	background-size: cover;
}

#u338-5
{
	z-index: 91;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 48px;
	color: #000000;
	line-height: 58px;
	letter-spacing: 4px;
	text-align: center;
	font-family: bigshot-one, serif;
	font-weight: 400;
	position: relative;
}

#u329-16
{
	z-index: 67;
	width: 598px;
	min-height: 480px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-left: 61px;
	margin-top: 51px;
	position: relative;
}

#u329-2
{
	font-size: 22px;
	line-height: 26px;
	font-weight: 700;
}

#u329-3,#u329-5,#u329-6,#u329-8,#u329-9,#u329-11,#u329-12,#u329-14
{
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}

#u346
{
	z-index: 96;
	width: 69px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,131,62);
	-ms-transform: matrix(0,1,-1,0,131,62);
	-o-transform: matrix(0,1,-1,0,131,62);
	transform: matrix(0,1,-1,0,131,62);
	position: relative;
	margin-right: -10000px;
	margin-top: -28px;
	left: 563px;
}

#u352
{
	z-index: 98;
	width: 69px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-62,131);
	-ms-transform: matrix(0,-1,1,0,-62,131);
	-o-transform: matrix(0,-1,1,0,-62,131);
	transform: matrix(0,-1,1,0,-62,131);
	position: relative;
	margin-right: -10000px;
	margin-top: -29px;
	left: 124px;
}

#u339-4
{
	z-index: 100;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 58px;
	letter-spacing: 17px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 20px;
}

#u262
{
	z-index: 61;
	width: 760px;
	min-height: 438px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#pu399
{
	width: 0.01px;
	margin-left: -159px;
}

#u399
{
	z-index: 3;
	width: 740px;
	border-color: #000000;
	padding-right: 20px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	left: 159px;
	background: #FFFFFF url("../images/texture%202.jpg") repeat left top;
}

#pu409
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 41px;
}

#u409
{
	z-index: 106;
	width: 178px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
}

#u407
{
	z-index: 104;
	width: 178px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 423px;
}

#u415
{
	z-index: 117;
	width: 705px;
	min-height: 236px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 27px;
	margin-top: 55px;
	position: relative;
}

#u429-6
{
	z-index: 118;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 30px;
	color: #C69C6D;
	line-height: 36px;
	letter-spacing: 4px;
	text-align: center;
	font-family: bigshot-one, serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 20px;
	margin-top: 5px;
	position: relative;
}

#u429-3
{
	color: #97B2C9;
}

#u576-10
{
	z-index: 150;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 25px;
	color: #C69C6D;
	line-height: 30px;
	letter-spacing: 4px;
	text-align: center;
	font-family: bigshot-one, serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 20px;
	margin-top: 264px;
	position: relative;
}

#u576-3
{
	color: #8FD0EB;
}

#u429,#u576,#u576-5
{
	letter-spacing: 1px;
}

#u576-7
{
	color: #FE8383;
}

#u413-5
{
	z-index: 108;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 47px;
	color: #000000;
	line-height: 56px;
	letter-spacing: 14px;
	text-align: center;
	font-family: bigshot-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 179px;
}

#u338,#u413
{
	color: #66CCFF;
}

#u1035-2,#u338-2,#u413-2
{
	color: #FE5C51;
}

#u414-4
{
	z-index: 113;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 46px;
	color: #000000;
	line-height: 55px;
	letter-spacing: 4px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 179px;
}

#pamphletu430
{
	z-index: 124;
	width: 0.01px;
	height: 230px;
	position: relative;
	margin-right: -10000px;
	margin-top: 444px;
	left: 185px;
}

#u431
{
	z-index: 125;
	width: 230px;
	position: relative;
	margin-right: -10000px;
}

#u432
{
	position: absolute;
	width: 230px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

#u432:hover
{
	border-color: #999999;
	background-color: #FFFFFF;
	margin: 0px;
}

#u433
{
	z-index: 127;
	width: 230px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u432:hover #u433
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u432:active #u433
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u436
{
	position: absolute;
	width: 844px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 123px;
	left: -279px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u436popup
{
	z-index: 129;
}

#u437
{
	z-index: 130;
	width: 800px;
	height: 504px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u438
{
	z-index: 131;
	width: 800px;
	min-height: 504px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pamphletu518
{
	z-index: 132;
	width: 0.01px;
	height: 230px;
	position: relative;
	margin-right: -10000px;
	margin-top: 444px;
	left: 420px;
}

#u519
{
	z-index: 133;
	width: 230px;
	position: relative;
	margin-right: -10000px;
}

#u520
{
	position: absolute;
	width: 230px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

#u432:active,#u520:hover
{
	border-color: #999999;
	background-color: #FFFFFF;
	margin: 0px;
}

#u521
{
	z-index: 135;
	width: 230px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u520:hover #u521
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u520:active #u521
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u523
{
	position: absolute;
	width: 844px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 123px;
	left: -284px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u523popup
{
	z-index: 137;
}

#u524
{
	z-index: 138;
	width: 800px;
	height: 504px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u525
{
	z-index: 139;
	width: 800px;
	min-height: 504px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu541
{
	z-index: 140;
	width: 0.01px;
	height: 230px;
	position: relative;
	margin-right: -10000px;
	margin-top: 444px;
	left: 655px;
}

#u544
{
	z-index: 141;
	width: 230px;
	position: relative;
	margin-right: -10000px;
}

#u545
{
	position: absolute;
	width: 230px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

#u520:active,#u545:hover
{
	border-color: #999999;
	background-color: #FFFFFF;
	margin: 0px;
}

#u545:active
{
	border-color: #999999;
	background-color: #FFFFFF;
	margin: 0px;
}

#u546
{
	z-index: 143;
	width: 230px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u545:hover #u546
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u545:active #u546
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u432.PamphletThumbSelected #u433,#u520.PamphletThumbSelected #u521,#u545.PamphletThumbSelected #u546
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u552
{
	position: absolute;
	width: 897px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: 123px;
	left: -284px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u552popup
{
	z-index: 145;
}

#u553
{
	z-index: 146;
	width: 853px;
	height: 484px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u554
{
	z-index: 147;
	width: 853px;
	min-height: 414px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u573
{
	z-index: 148;
	width: 32px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 402px;
	left: 758px;
}

#u573:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 402px -10000px 0px 0px;
}

#u577
{
	z-index: 160;
	width: 32px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 701px;
	left: 569px;
}

#u580
{
	z-index: 162;
	width: 32px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	margin-top: 701px;
	left: 803px;
}

#u577:hover,#u580:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 701px -10000px 0px 0px;
}

#u583-3
{
	z-index: 164;
	width: 11px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
}

#contact
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u589
{
	z-index: 58;
	width: 720px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	padding: 23px 20px 119px;
	background: #FFFFFF url("../images/blur2.jpg") no-repeat center top;
	background-size: cover;
}

#u587-4
{
	z-index: 167;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 36px;
	color: #66CCFF;
	line-height: 43px;
	letter-spacing: 5px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#pu596
{
	width: 0.01px;
	margin-left: 68px;
	margin-top: 57px;
}

#u596
{
	z-index: 175;
	width: 158px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
}

#u602
{
	z-index: 181;
	width: 158px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 209px;
}

#u640
{
	z-index: 187;
	width: 158px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 418px;
}

#pu598
{
	width: 0.01px;
	margin-left: 68px;
	margin-top: 26px;
}

#u598
{
	z-index: 177;
	width: 158px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
}

#u600
{
	z-index: 179;
	width: 158px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 209px;
}

#u638
{
	z-index: 185;
	width: 158px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 418px;
}

#u596:hover,#u602:hover,#u640:hover,#u598:hover,#u600:hover,#u638:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u660
{
	z-index: 189;
	width: 158px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin-left: 277px;
	margin-top: 25px;
	position: relative;
}

#u660:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 25px 0px 0px 277px;
}

#u640_img,#u638_img,#u660_img
{
	padding-right: 5px;
	padding-bottom: 1px;
}

#u588-4
{
	z-index: 171;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 30px;
	color: #FFFFFF;
	line-height: 36px;
	letter-spacing: 5px;
	text-align: center;
	font-family: bigshot-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 20px;
}

#pabout,#pcontact,#pu366
{
	width: 0.01px;
}

#u366
{
	z-index: 184;
	width: 760px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/wood.jpg") repeat left top;
}

#u366_position_content
{
	padding-bottom: 43px;
}

#photos,#events
{
	position: relative;
}

#u796-4
{
	z-index: 199;
	width: 720px;
	min-height: 40px;
	background-color: transparent;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 43px;
	letter-spacing: 5px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 31px;
	position: relative;
}

#pu955
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 60px;
}

#u955
{
	z-index: 278;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u954-11
{
	z-index: 267;
	width: 582px;
	min-height: 55px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 74px;
}

#ppu1091
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 15px;
}

#pu1091
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1091
{
	z-index: 331;
	width: 50px;
	background-color: transparent;
	position: relative;
}

#u1110
{
	z-index: 368;
	width: 50px;
	background-color: transparent;
	margin-top: 101px;
	position: relative;
}

#u1090-12
{
	z-index: 319;
	width: 522px;
	min-height: 55px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 74px;
}

#pu1095
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 62px;
}

#u1095
{
	z-index: 342;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1109-11
{
	z-index: 357;
	width: 522px;
	min-height: 55px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 74px;
}

#pu1100
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 5px;
}

#u1100
{
	z-index: 355;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1099-11
{
	z-index: 344;
	width: 522px;
	min-height: 55px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 74px;
}

#u797
{
	z-index: 207;
	width: 69px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,131,62);
	-ms-transform: matrix(0,1,-1,0,131,62);
	-o-transform: matrix(0,1,-1,0,131,62);
	transform: matrix(0,1,-1,0,131,62);
	position: relative;
	margin-right: -10000px;
	margin-top: -26px;
	left: 561px;
}

#u799
{
	z-index: 209;
	width: 69px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-62,131);
	-ms-transform: matrix(0,-1,1,0,-62,131);
	-o-transform: matrix(0,-1,1,0,-62,131);
	transform: matrix(0,-1,1,0,-62,131);
	position: relative;
	margin-right: -10000px;
	margin-top: -26px;
	left: 122px;
}

#u346_img,#u352_img,#u797_img,#u799_img
{
	padding-bottom: 1px;
}

#u812
{
	z-index: 212;
	width: 613px;
	height: 16px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 70px;
	border-width: 0px 0px 1px;
}

#u1094-9
{
	z-index: 333;
	width: 522px;
	min-height: 55px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: hammersmith-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 469px;
	left: 144px;
}

#u804
{
	z-index: 211;
	width: 760px;
	height: 481px;
	border-color: #000000;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	-moz-border-radius: 0px 0px 20px 20px ;
	-webkit-border-radius: 0px 0px 20px 20px ;
	-khtml-border-radius: 0px 0px 20px 20px ;
	border-radius: 0px 0px 20px 20px ;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: #FFFFFF url("../images/band-ieu804-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/band.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u1055
{
	z-index: 318;
	width: 64px;
	height: 122px;
	border-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: 416px;
	background: #FFFFFF url("../images/top.jpg") no-repeat center center;
	background-size: contain;
}

#u280
{
	z-index: 66;
	width: 64px;
	height: 122px;
	border-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	bottom: -571px;
	left: 50%;
	margin-left: 416px;
	background: #FFFFFF url("../images/top.jpg") no-repeat center center;
	background-size: contain;
}

#u1055:hover,#u280:hover
{
	opacity: 0.39;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=39)";
	filter: alpha(opacity=39);
	margin: 0px 0px 0px 416px;
	background: #9FC9EB url("../images/top.jpg") no-repeat center center;
	background-size: contain;
}

.js #u1055.ose_pre_init,.js #u280.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u637-4
{
	z-index: 54;
	width: 214px;
	min-height: 35px;
	margin-left: 273px;
	margin-top: 9px;
}

body
{
	position: relative;
	min-width: 760px;
	padding-top: 36px;
	padding-bottom: 31px;
}

#page .verticalspacer
{
	clear: both;
}

