#u87
{
	border-color: #000000;
	background-color: #FE5C51;
	position: relative;
}

#u88
{
	border-color: #000000;
	background-color: #66CCFF;
	-moz-border-radius: 20px 20px 0px 0px ;
	-webkit-border-radius: 20px 20px 0px 0px ;
	-khtml-border-radius: 20px 20px 0px 0px ;
	border-radius: 20px 20px 0px 0px ;
	position: relative;
}

#menuu131
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u81,#u132,#u135
{
	background-color: transparent;
	position: relative;
}

#u138-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#u135:hover #u138-4 p
{
	color: #FE5C51;
	visibility: inherit;
}

#u156,#u159
{
	background-color: transparent;
	position: relative;
}

#u160-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#u159:hover #u160-4 p
{
	color: #FE5C51;
	visibility: inherit;
}

#u163,#u164
{
	background-color: transparent;
	position: relative;
}

#u167-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#u164:hover #u167-4 p
{
	color: #FE5C51;
	visibility: inherit;
}

#u224,#u225
{
	background-color: transparent;
	position: relative;
}

#u227-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#u225:hover #u227-4 p
{
	color: #FE5C51;
	visibility: inherit;
}

#u231,#u232
{
	background-color: transparent;
	position: relative;
}

#u234-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#u232:hover #u234-4 p
{
	color: #FE5C51;
	visibility: inherit;
}

#u238,#u239
{
	background-color: transparent;
	position: relative;
}

#u240-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#u239:hover #u240-4 p
{
	color: #FE5C51;
	visibility: inherit;
}

#u135.MuseMenuActive #u138-4 p,#u159.MuseMenuActive #u160-4 p,#u164.MuseMenuActive #u167-4 p,#u225.MuseMenuActive #u227-4 p,#u232.MuseMenuActive #u234-4 p,#u239.MuseMenuActive #u240-4 p
{
	color: #66CCFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u246,#u251
{
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
}

#u254,#u255
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u637-4
{
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #FE5C51;
	text-align: center;
	font-family: bigshot-one, serif;
	font-weight: 400;
	position: relative;
}

